*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 80%;
    background-color: #bbc4c6;
}
.education{
display: flex;
flex-direction: column;
margin-left: 1rem;

}
h1{
    color: #0077b6;
    width: 10rem;
    border-bottom: 3px solid #669bbc;
    border-radius: 1px;
    border-top-color: aqua;
    display: block;
    animation: styling 2.55s ease-in-out;
    animation-fill-mode: reverse;
    animation-iteration-count:1;
}
@keyframes styling{
    0%{
        transform: translateX(0);
        border-bottom: 3px solid #669bbc;
        width: 10rem;
        
    }
    25%{
        transform: translateX(10px);
        border-bottom: 3px solid #425dad;
        width: 13rem;
    }
    50%{
        transform: translateX(15px);
        border-bottom: 3px solid #47d6d4;
        width: 16rem;
    }
    100%{
        transform: translateX(20px);
        border-bottom: 3px solid #3976a4;
        width: 16rem;
    }
    
}
.edu{
    margin-top: 2rem;
}
p{
    width: 24rem;
    color: #03045e;
    font-size: medium;
}
.p1{
    position: relative;
    left: 20rem;
    text-align: center;
    margin-top: 0.66rem;
    padding-top: 0.22rem;
    font-size: 1rem;
    width: 8rem;
    height: 2rem;
    border-radius: 4rem;
    background-color: #3976a4;
}
@media (max-width:700px) {
    h1{
        width: 14rem;
    }
    
}